$figcaption-padding:   30px !default;
$text-color:           #ffffff !default;
$border-color:         #ffffff !default;
$border-margin:        5px !default;
$border-width:         4px !default;
$transition-duration:  0.35s !default;
$shift-distance:       10px !default;