html {
  height: 100%;
}

body {
  color: #444;
  height: 100%;
  font-family: 'Titillium Web', 'Montserrat', Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #444;
}

h1 {
  font-size: 2rem;
}

section {
  padding: 1rem 1rem 1rem 3rem;
}

figure {
  border: 1px solid #fff
}

section.alt {
  background: #222;
  color: #ddd;

  a {
    color: #ddd;
  }
}

#home {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    color: #111;
  }
}

.work {
  display: inline-block;
  //float: left;
  padding: 1rem 2rem 1rem 1rem;
  margin: 1rem;
  text-align: left;

  h3 {
    border-bottom: 1px solid #444;
  }

  ul {
    list-style: none;
    padding-left: 1rem;
  }
  li {
    padding-top: 0.4rem;
  }
}

#clients {
  .logos > div {
    display: inline-block;
    padding: 1.2rem;
  }
  .gov-header {
    text-align: center;
    h4 {
      display: inline-block;
      vertical-align: top;
    }

  }
  ul {
    display: inline-block;
    list-style: none;
  }

  .partners {
    text-align: center;

    > div {
      display: inline-block;
      padding: 2rem;
    }
  }
}

#expertise {
  text-align: center;
  > div {
    display: inline-block;
    padding: 2rem;
  }
  img {
    height: 50px;
  }
}

#team {
  text-align: center;
  > div {
    display: inline-block;
    padding: 2rem;
  }
  img {
    border-radius: 50%;
    border: 10px solid #E4E3E3;
    height: 6rem;
    width: 6rem;
  }
}