@import 'hover/imagehover.scss';

html {
  height: 100%;
}

body {
  color: #444;
  height: 100%;
  font-family: 'Montserrat', Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #444;
}

h1 {
  font-size: 2rem;
}

section {
  padding: 1rem;
}

figure{
  border: 1px solid #fff
}

section.alt {
  background: #222;
  color: #ddd;
}

#home {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    color: #111;
  }
}

.work {
  display: inline-block;
  padding: 1rem;
  text-align: center;
}