html, body > div {
  height: 100%;
}

body {
  color: #444;
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #444;
}

h1 {
  font-size: 2rem;
}

section {
  padding: 1rem 1rem 4rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section.alt {
  background: #222;
  color: #ddd;

  a {
    color: #ddd;
  }
}

#home {
  height: 99%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // padding-top: 5%;
  padding-bottom: 0;
}

.work {
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  text-align: left;
  max-width: 75%;

  h3 {
    min-width: 270px;
    border-bottom: 1px solid #444;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    padding-top: 0.4rem;
  }
}

.row > div {
  display: inline-block;
  padding: 2rem;
}

#clients {
  .gov-header {
    margin-top: 3rem;
    h4 {
      display: inline-block;
      vertical-align: top;
    }

  }
  ul {
    display: inline-block;
    list-style: none;
    text-align: left;
  }
}

#expertise {
  img {
    height: 50px;
  }
}

#team {
  img {
    border-radius: 50%;
    border: 10px solid #E4E3E3;
    height: 6rem;
    width: 6rem;
  }
}

#contact {
  padding-bottom: 0;
  justify-content: space-evenly;
}

form {
  min-width: 50%;
}

input, textarea {
  display: block;
  min-width: 90%;
  line-height: 1.5rem;
  padding: 1rem;
  margin: 1rem auto;
}

h1, h3, hr, .w-100 {
  width: 100%;
}

.social {
  padding-bottom: 0 !important;
  img {
    //vertical-align: bottom;
    background: #eee;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }

  }
}

@media screen and (max-width: 900px) {
  .gov-offices {
    text-align: left;
  }
  #solutions li{
    width: 80% !important;
  }
  .solutions-wrapper .row {
    flex-wrap: wrap;
  }
}

.u{
  text-decoration: underline;
  margin-top: 1rem;
  display: inline-block;
}

#solutions{
ul{
  position: relative;
  padding: 0;
  max-width: 900px;
}

  li, li:before {
    transition: all .4s;
    
  }
  ul:hover li {
    opacity: .4;
  }
  li {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    color: #aaa;
    background: #333;
    text-decoration: none;
    text-transform: uppercase;
    width: 49%;
    min-height: 4rem;
    padding: 1rem;
    font-weight: bold;
    cursor: default;
  }
  li:before {
    content: "";
    position: absolute;
    left:0; bottom:0; top:0;
    width: 20px;
    background: #444;
  }
  li + li {
    border-top: 2px solid #222;
  }
  ul li:hover,
  ul li:focus {
    opacity: 1;
    padding-left: 55px;
  }
  ul li:hover:before,
  ul li:focus:before {
    width: 30px;
  }
}


.solutions-wrapper{
  position: relative;
  margin: auto;
  text-align: center;
  margin-bottom: 65px;
  
  .row {
    display: flex;
    justify-content: center;
    .icon-wrapper {
      
      .desc {
        color:#c1c1c1;
        display: block;
        margin-top: 5px;
      font-weight: bold;
      }
      
      svg {
        display:inline-block;
        padding: 8px 8px;

        &.icon {
          fill:#c1c1c1;
          stroke-width:0;
          stroke-miterlimit:5;
          cursor: crosshair;
        }
      }

      linearGradient{
        -webkit-transform:rotate(135deg);
        transform:rotate(135deg);
      }
    }
  }
}


// _______ SVG Draw Mixin _______

@mixin drawIcon($animName, $strokeDashArray, $strokeWidth: 1px, $fadeInAnim: 'fadeIn') {
  /* default case uses 1px stroke-width 
     and 'fadeIn' as the fade in animation name */
  & {
    stroke-dasharray: $strokeDashArray;
  }

  svg:hover & {
    -webkit-animation: fadeOut .5s cubic-bezier(0.47, 0, 0.745, 0.715) forwards, $animName 1.9s .5s cubic-bezier(0.47, 0, 0.745, 0.715) forwards, $fadeInAnim 1s 2.5s forwards;
    animation: fadeOut .5s cubic-bezier(0.47, 0, 0.745, 0.715) forwards, $animName 1.9s .5s cubic-bezier(0.47, 0, 0.745, 0.715) forwards, $fadeInAnim 1s 2.5s forwards; 
  }
  
  @keyframes fadeOut {
    from { fill: rgba(255, 255, 255, 1) }
    to { fill: rgba(255, 255, 255, 0) }
  }

  @keyframes #{$animName} { 
    from {
      stroke-width: $strokeWidth;    // defaults to 1px
      stroke-dashoffset: $strokeDashArray;
    } 
    to { 
      stroke-width: $strokeWidth;
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes #{$fadeInAnim} {
    from { 
      fill: rgba(255, 255, 255, 0);
      stroke-width: $strokeWidth;
    }
    to { 
      fill: rgba(255, 255, 255, 1);
      stroke-width: 0px;
    }
  }
}


.web-design {
  @include drawIcon('webDesignAnim', 405);
}

.backend, .mobile {
  @include drawIcon('backendAnim', 200);
}



.creativity {
  @include drawIcon('creativityAnim', 602);
}

.gov-offices li img {
  margin-right: 0.4em;
}